@import "tailwindcss";
@import "@nuxt/ui";
@custom-variant dark (&:where(.dark, .dark *));
body {
    max-width: 1440px;
    padding-inline: 5%;
    margin: 0 auto;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;

}
::-webkit-scrollbar {
    display: none;
}
@media (width<=768px){
    body{
        /* width: 100%; */
        padding-inline: 0;
    }
    
}
:root {
      --deep-dark-blue: #0f172b;
      --green-grace: #05df72;
      --deep-green: #07ac59;
      --creamy-white: #e1e6e9;

      --pale-moon: #e8ecf2;
  }

  body{
    @apply bg-[var(--deep-dark-blue)] text-[var(--creamy-white)] ;
}
.bg-primary{
    background-color: var(--deep-dark-blue);
    /* for the body */
}
.bg-secondary{
    /* header aside cards ... */
    background-color: var(--green-grace);
}
.bg-light-primary{
    background-color: var(--creamy-white);
}

.text-primary{
    color: var(--creamy-white);
}
.text-secondary{
    color : var(--green-grace);
}

.text-light-primary{
    color: var(--deep-dark-blue);
}

.nav-link{
    @apply mb-4 rounded-[4px] hover:bg-[var(--green-grace)] w-full p-2 transition duration-300 ease-in-out;
}

.input-bg{
    background-image: url('../icons/loop.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 96% center;
    transition: border 300ms ease-in-out;
}
.input-bg:focus{
    outline: none;
    border-left: none;
    border-right: none;
    
    border-bottom: 2px solid var(--green-grace);
    

}

